/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}
.preGIF{
  width: 80px;
  height: 80px;
}

body{
  background-image: url("OceanAni.gif");
  background-repeat: no-repeat;
  background-size: 100% 2000px;
  object-fit: cover;
  background-color: #7F501E;
}
#title{
  /* margin-top: 80px; */
  font-size: 100px;
  text-align: center;
  letter-spacing: 5px;
  color: transparent;
  font-family: 'Lato', sans-serif;
  -webkit-text-stroke: 2px #293075;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  /* -webkit-text-stroke: 2px rgba(255, 255, 255, 0.6); */
}

.flexMid{
  height: 100vh;
  width: 100%;
  /* background: #16132d; */
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#titleTwo{
  padding-top: 50px;
  /* padding-left: 20px; */
  letter-spacing: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.left{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 400px;
  text-align: center;
}
.flexCen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexTwo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.flexCol{
  display: flex;
  flex-direction: column;
}
/* .sunBack{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: yellow;
  font-size: 100px;
  margin-top: -50px;
  margin-left: 30px;
} */
.high{
  color: red;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  width: 400px;
  margin-bottom: -10px;
  text-align: center;
}
.polar{
  width: 250px;
  border-radius: 50%;
  height: 250px;
  object-fit: cover;
}
.flexRow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: -50px;
}
.right{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.moveInfo{
  margin-top: -50px;
}
#one, #two, #three{
  height: 100vh;
  width: 100%;
/* background: #16132d; */
}
a{
  /* text-decoration: none; */
  color: black;
}
a:hover{
  color:red;
}
/* a:visited{
  color: black;
} */

/* HELP CSS */
.earth{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* GAME CSS */
.cream{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.nasaPic{
  width: 420px;
  height: 200px;
}
.color{
  width: 150px;
  height: 200px;
}
.flexSpace{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
